<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <clawrock_customercoupon>
            <general>
                <enabled>1</enabled>
                <custom_message>You have no coupons assigned.</custom_message>
            </general>
        </clawrock_customercoupon>
    </default>
</config>
